<script>
  import ThreeTest from "../components/ThreeTest.svelte";
</script>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
</style>

<div class="container">
  <ThreeTest width={250} height={250} boxColor="#eb4034" />
  <ThreeTest width={250} height={250} boxColor="#53eb34" />
  <ThreeTest width={250} height={250} boxColor="#3480eb" />
  <ThreeTest width={250} height={250} boxColor="#b021ab" />
</div>
