<script>
  import * as THREE from "three";
  import { onMount } from "svelte";
  import { onDestroy } from 'svelte';

  let content;

  export let width = window.innerWidth;
  export let height = window.innerHeight;
  export let boxColor = "#ffffff";

    
  
  onMount(() => {
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);

    var renderer = new THREE.WebGLRenderer();
    renderer.setSize(width, height);
    content.appendChild(renderer.domElement);

    var geometry = new THREE.BoxGeometry();
    var material = new THREE.MeshBasicMaterial();
    material.color.setStyle(boxColor);
    var cube = new THREE.Mesh(geometry, material);
    scene.add(cube);

    camera.position.z = 5;

    var animate = function() {
      requestAnimationFrame(animate);

      cube.rotation.x += 0.01;
      cube.rotation.y += 0.01;

      renderer.render(scene, camera);
    };

    animate();
  });

//   onDestroy(() => {
//       content.innerHTML = ""
//   });


</script>

<style>
  .content {
    padding: 10px;
  }
</style>

<div bind:this={content} class="content" />
